/* http://coolors.co/app/db4a59-db3243-17bebb-2e282a-edb88b first two so far */

html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;

  background-color: #E7453F;
}

#app {
  width: 100%;
}

a {
  text-decoration: none;
}

.disclaimer {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #FEFEFE;
}

.disclaimer a {
  color: #03F9AE;
}

.timer-container {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  color: #FEFEFE;
  text-shadow: 0 1px 1px #394240;
}

.timer-container p {
  margin: 0;
}

.timer-container [contenteditable] {
  outline: none;
}

/* Button styles from http://codepen.io/benague/pen/bCkyr */

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #6D544F;
  box-shadow: 0px 5px 0px 0px #453532;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px #000;
}

.btn:hover {
  background-color: #967872;
}

.btn[disabled] {
  background-color: #A0A0A0;
  color: #D0D0D0;
  box-shadow: 0px 1px 0px 0px #505050;
  transform: translate(0px, 5px);
}

/* Input styles from http://callmenick.com/post/various-css-input-text-styles */
input {
  font-size: 80px;
  padding: 10px;
  border: none;
  color: #FEFEFE;
  text-shadow: 0 1px 1px #394240;
  font-family: 'Open Sans', sans-serif;
  width: 1.5em;
  text-align: center;
  background-color: transparent;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  outline: none;
}

input:focus {
  border-bottom: solid 2px #969696;
}
